@using ProjetoEscolaMJV.Models
@using ProjetoEscolaMJV.Enums;
@model ProfessorModel
@{
    var id = Convert.ToInt32(ViewBag.Id as string);
    ViewData["Title"] = "Editar Professor";
}
<div class="text-center">

    <h1 class="display-4">Editar dados do Professor</h1>
</div>
<div class="Quadro-Tela">
    <form asp-controller="Professor" asp-action="Editar" method="post">

        <input type="hidden" asp-for="Id" />
        <div class="form-group" style="margin: 10px 0px">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do professor">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="form-group" style="margin: 10px 0px">
            <label for="email">E-mail</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do professor">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="form-group" style="margin: 10px 0px">
            <label for="login">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do professor">
            @Html.ValidationMessageFor(x => x.Login)
        </div>

        <div class="d-grid gap-2" style="margin: 5px 0px">
            <button type="submit" class="btn btn-primary d-lg-block">Editar</button>
        </div>
        <div class="d-grid gap-2" style="margin: 5px 0px">
            <a class="btn btn-secondary btn-block" asp-controller="Professor" asp-action="Index" asp-route-id="@id" role="button">Voltar</a>
        </div>
    </form>
   </div>